.App {
  text-align: center;
}

#navbar {
  background-color: grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#navButton {
  padding: 8px 15px 8px 15px;
  color: white;
  text-decoration: none;
}

#navButton:hover {
  background-color: rgb(202, 202, 202);
  color: black;
}
